__pycache__/
*.pyc
*.exe
.env
**/.env
venv/
**/venv/
*.db
.DS_Store
*.pdf
**/build/
**/*.egg-info/
bin/
**/bin/
.zed/
BUILD.txt
**/BUILD.txt
exports/
**/exports/
deps.sh
**/deps.sh
deploy.sh
**/deploy.sh
answers.md

